/**********************/
/*    BELOW 1200px    */
/* LANDSCAPED TABLETS */
@media (max-width: 75.6em) {
  html {
    font-size: 56.25%;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .heading-primary {
    width: 105%;
    font-size: 4.4rem;
  }

  .section-testimonials {
    background-color: #fdf2e9;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .testimonials-headings h2 {
    width: 105%;
  }

  .testimonials-headings {
    padding: 4.8rem 3.2rem !important;
  }

  .testimonial-area {
    column-gap: 1.6rem;
  }

  .pricing-plan {
    width: 75%;
  }

  .heading-secondary {
    font-size: 3.2rem;
    margin-bottom: 4.8rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .section-pricing-content {
    width: auto;
  }

  .cta {
    height: 45rem;
  }

  .cta-text-box {
    padding: 3.2rem;
  }

  .footer-container {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
    gap: 1.6rem;
  }

  .footer {
    padding: 6.4rem 0;
  }

  .logo--footer {
    height: 2.4rem;
  }

  .footer-nav {
    gap: 1.6rem;
  }
}

/*********************/
/*    BELOW 990px    */
/*      TABLETS      */
@media (max-width: 62em) {
  .hero-text-box {
    padding-right: 3.2rem;
  }

  .hero-text-box h1 {
    width: 110%;
  }

  .delivery-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .logos img {
    height: 2.8rem;
  }

  .section-how {
    padding: 4.8rem 0;
  }

  .section-how-content {
    width: 85%;
  }

  .section-meals {
    padding: 4.8rem 0;
  }

  .meals-container {
    grid-template-rows: 100%;
    height: 48rem;
    column-gap: 3.6rem;
  }

  .diets {
    padding: 1.8rem 0;
  }

  .diets-list {
    margin-top: 0;
    gap: 1.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .testimonials-headings {
    padding: 6.4rem !important;
  }

  .testimonial-area {
    gap: 4.8rem;
  }

  .gallery {
    width: 85%;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 6.4rem;
  }

  .plan-details {
    margin-bottom: 0;
  }

  .feature-container {
    padding: 3.6rem;
    gap: 2.4rem;
  }

  .feature-title {
    font-size: 2rem;
  }

  .section-pricing {
    padding-bottom: 3.6rem;
  }

  .pricing-plan {
    width: 90%;
  }

  .section-cta {
    padding-bottom: 6.4rem;
  }

  .cta-text-box .heading-secondary {
    margin-bottom: 2.8rem;
  }

  .cta-text-box .cta-text {
    margin-bottom: 3.6rem;
  }

  .footer {
    padding: 4.8rem 0;
  }

  .footer-heading {
    margin-bottom: 2.4rem;
  }
}

/*********************/
/*    BELOW 800px    */
/*  SMALLER TABLETS  */
@media (max-width: 50em) {
  html {
    font-size: 50%;
  }

  .margin-bottom-md {
    margin-bottom: 3.6rem !important;
  }

  .header {
    padding: 0 3.4rem;
  }

  .logo {
    height: 1.8rem;
  }

  .main-nav-list {
    gap: 2rem;
  }

  .hero {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    padding: 0 6.4rem;
    gap: 6.4rem;
  }

  .hero-text-box h1 {
    width: 100%;
  }

  .delivery-info {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 3.6rem;
  }

  .delivery-text {
    margin-right: 0;
  }

  .hero-img-box {
    width: 60%;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meals-container {
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 1fr;
    align-items: center;
    margin-bottom: 0;
  }

  .diets .list-icon {
    display: none;
  }

  .meal-content {
    padding: 2.4rem 2.8rem 2.8rem 2.8rem;
  }

  .meal {
    height: 50rem;
  }

  .diets {
    grid-column: 1 / -1;
  }

  .diets .diets-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
  }

  .gallery {
    width: 90%;
    grid-template-columns: repeat(6, 1fr);
  }

  .section-pricing-content {
    gap: 3.2rem;
  }

  .pricing-plan {
    padding: 6.4rem 3.6rem;
  }

  .plan-name {
    margin-bottom: 1.6rem;
  }

  .plan-header {
    margin-bottom: 3.6rem;
  }

  .diet {
    gap: 1.6rem;
  }

  .feature-icon {
    margin-bottom: 2.8rem;
  }

  .cta {
    height: 100%;
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .form--btn {
    margin-top: 1.6rem;
  }

  .logo--footer {
    height: 2rem;
  }

  .footer-link {
    line-height: 1.6rem;
  }

  /* MOBILE NAV */
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(253, 242, 233, 0.65);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all 500ms ease-in;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;

    /* 1. hiding the navbar visually */
    opacity: 0;

    /* 2. making nav unaccessible to the user */
    pointer-events: none;

    /* 3. hiding nav from the screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/*********************/
/*    BELOW 670PX    */
/*    LARGE MOBILE   */
@media (max-width: 42em) {
  .heading-featured-in {
    font-size: 1.2rem;
  }

  .logos img {
    height: 1.8rem;
  }

  .section-how-content {
    row-gap: 3rem;
  }

  .meals-container {
    padding: 0 6.4rem;
  }

  .diets {
    padding: 4.8rem 0;
  }

  .diets .diets-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .meal {
    height: 45rem;
  }

  .pricing-plan {
    padding: 6.4rem 2.4rem;
  }

  .pricing-plan--complete::after {
    font-size: 1.2rem;
    right: -16%;
    top: 4%;
  }

  .feature-container {
    padding: 4.8rem 6.4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  .cta {
    padding: 3.6rem;
    grid-template-columns: 1fr;
  }

  .footer-container {
    grid-template-columns: repeat(6, 1fr);
    gap: 2.8rem;
    row-gap: 6rem;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
  }

  .logo-social-col,
  .address-col {
    gap: 3rem;
    grid-row: 2;
    grid-column: span 3;
  }

  .logo-social-col {
    padding: 0 3rem;
  }

  .nav-col--flex {
    gap: 2.8rem;
  }
}

/**********************/
/*    BELOW 480PX     */
/*   MOBILE DEVICES   */
@media (max-width: 30em) {
  html {
    font-size: 45%;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .margin-right-sm {
    margin: 0 !important;
  }

  .section-hero {
    padding: 2.8rem 0 4.8rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .hero-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
  }

  .hero-desc {
    margin-bottom: 2.8rem;
  }

  .btn {
    width: -moz-fit-content;
    width: fit-content;
  }

  .delivery-info {
    flex-direction: column;
    gap: 2.4rem;
    margin-top: 1.8rem;
  }

  .hero-img-box {
    width: 80%;
  }

  .section-featured-in {
    padding: 3.6rem 0 2.4rem 0;
  }

  .logos {
    padding: 0 4.8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    /* justify-items: center; */
    gap: 2.8rem;
    column-gap: 6.4rem;
  }

  .logos img {
    height: 2rem;
  }

  .logos img:last-child {
    grid-column: span 2;
    justify-self: center;
  }

  .section-how {
    padding: 3.6rem 0 0 0;
  }

  .step-text-box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    row-gap: 1.6rem;
  }

  .step-text-box .heading-tertiary {
    margin-bottom: 0;
  }

  .step-desc {
    grid-column: span 2;
  }

  .step-number {
    margin-bottom: 0;
  }

  .step-img {
    width: 30%;
  }

  .step-img--first {
    grid-row: 1;
  }

  .step-img--third {
    grid-row: 5;
  }

  .step-text-box {
    margin-bottom: 3.6rem;
  }

  .meals-container {
    grid-template-rows: 3fr;
    align-items: center;
    justify-items: center;
    gap: 3.6rem;
  }

  .meal {
    width: 80%;
    height: auto;
  }

  .diets .diets-list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
  }

  .testimonials-headings {
    padding: 4.8rem !important;
  }

  .testimonial-area {
    padding: 0 4rem;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 4.8rem;
  }

  .section-pricing {
    padding: 3.6rem 0;
  }

  .section-pricing-content {
    align-items: center;
    justify-items: center;
    gap: 4.8rem;
  }

  .pricing-plan {
    padding: 4.8rem 3.6rem;
    width: 75%;
    height: auto;
    justify-self: center;
  }

  .margin-bottom-md {
    margin-bottom: 8rem !important;
  }

  .pricing-plan--complete::after {
    font-size: 1.2rem;
    right: -12%;
    top: 5%;
  }

  .feature-container {
    gap: 3.2rem;
    padding: 4.8rem;
  }

  .section-cta {
    padding: 0 0 4.8rem 0;
  }

  .cta {
    padding: 0;
  }

  .cta-img-box {
    grid-row: 1;
    height: 45rem;
  }

  .cta-text-box {
    padding-top: 4.8rem;
  }
}
